<div class="sketch-popup">
    <div class="sketch-popup-inner">
        <div class="wrapper-sketch-image">
            <img class="sketch-image-popup" src="{{ sketch.image }}">
        </div>
        <div class="sketch-info">
            <div class="container-name">
                <span class="sketch-name">{{ sketch.name }}</span>
            </div>
            <div class="ctn-actions">
                <div class="container-author-info">
                    <a href="{{ origin_url }}/profile?uid={{ author.id }}" class="author-avatar-wrapper" data-title="{{ author.username }} ({{ author.login }})">
                        <img class="author-avatar" src="{{ sketch.author.avatar }}">
                    </a>
                    <div class="text-author-info-container">
                        <a class="author-usernames-container" href="{{ origin_url }}/profile?uid={{ author.id }}" data-title="{{ author.username }} ({{ author.login }})">
                            <span class="author-visible-username">{{ author.username }}</span>
                            <span class="author-login">{{ author.login }}</span>
                        </a>
                        {% set p = 'подписчик' if followers_num % 10 == 1 and followers_num != 11 else ('подписчика' if followers_num in (3, 4) or followers_num % 10 == 2 and followers_num != 12 else 'подписчиков') %}
                        <span class="followers-num">{{ followers_num }} {{ p }}</span>
                    </div>
                </div>
                <div class="container-buttons">
                    <div class="action-button"></div>
                    <div class="action-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>
