{% set ctx = author_context | default(True) %}
<a class="sketch-item" href="{{ origin_url }}/sketch?sid={{ sketch.id }}">
    <div class="sketch-image" style="background-image: url('{{ sketch.image }}')"></div>
    <div class="footer">
        {% if ctx %}
        <div class="author-image-wrapper">
            <img class="author-image" src="{{ sketch.author.avatar }}">
        </div>
        {% endif %}
        <div class="sketch-info" style="margin-left: {{ 0 if ctx else 15 }}px;">
            <p class="sketch-title">{{ sketch.name }}</p>
            <span class="author-username" data-title="{{ sketch.author.username }} ({{ sketch.author.login }})">{{ sketch.author.username }}</span>
        </div>
        <div class="btn-more">
            <span class="ttl-more">Ещё</span>
        </div>
    </div>
</a>
