{% set ctx = author_context | default(True) %}
<div class="sketch-item" data-sid="{{ sketch.id }}">
    <div class="sketch-image" style="background-image: url('{{ sketch.image | replace('media/', 'media/small/') }}')"></div>
    <div class="footer">
        {% if ctx %}
        <div class="author-image-wrapper">
            <img class="author-image" src="{{ sketch.author.avatar | replace('media/', 'media/avatars/') }}">
        </div>
        {% endif %}
        <div class="sketch-info" style="margin-left: {{ 0 if ctx else 15 }}px;">
            <p class="sketch-title">{{ sketch.name }}</p>
            <span class="author-username">{{ sketch.author.username }}</span>
        </div>
        <div class="btn-more">
            <span class="ttl-more">Ещё</span>
        </div>
    </div>
</div>
