* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
}

.nav-wrapper {
    background-color: rgba(0, 0, 0, .7);
    -webkit-backdrop-filter: saturate(180%) blur(16px);
    backdrop-filter: saturate(180%) blur(16px);
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.img-logo-nav {
    height: 3.2rem;
    margin-top: 0.4rem;
    margin-left: 3rem;
}

.nav-buttons {
    margin-right: 1rem;
    display: flex;
    height: 100%;
}

.nav-btn {
    display: flex;
    height: 100%;
    padding-inline: 2rem;
    color: rgba(235, 237, 240, .8);
    fill: rgba(235, 237, 240, .8);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.nav-btn > svg {
    fill: rgba(235, 237, 240, .8);
    transition: fill 0.3s;
}

.nav-btn:hover, .nav-btn:hover > svg {
    color: rgb(235, 237, 240);
    fill: rgb(235, 237, 240);
}

.nav-btn.active, .nav-btn.active > svg {
    color: rgb(91, 133, 227);
    fill: rgb(91, 133, 227);
}

#user-avatar {
    height: 75%;
}
