html, body, main {
    height: 100%;
    overflow: hidden;
}

#background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(135deg, rgb(108, 109, 186), rgb(48, 49, 120));
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
}

#crc-wd {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    grid-row: 9 / 12;
    grid-column: 11 / 13;
    align-self: center;
    position: absolute;
    left: 50%;
}

#pc-bc {
    width: 200%;
    height: 200%;
    grid-row: 5 / 7;
    grid-column: 1 / 3;
    transform: rotate(-70deg);
}

#lns-bb {
    width: 150%;
    height: 150%;
    grid-row: 11 / 13;
    grid-column: 4 / 7;
    transform: rotate(45deg);
}

#dots-nb {
    grid-row: 3 / 6;
    grid-column: 9;
    width: 100%;
    height: 100%;
    transform: rotate(25deg);
}

#form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    width: 375px;
    border-radius: 25px;
    box-shadow: 3px 3px 9px rgba(200, 200, 200, 0.75);
}

.form-title {
    color: rgb(69, 69, 68);
    padding: 0.5em;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.form-field-wrapper {
    border-bottom: 3px solid rgb(227, 227, 227);
    margin-top: 1.5rem;
    transition: outline 500ms ease;
}

.form-field-wrapper::after {
    position: relative;
    top: 3px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 3px solid rgb(69, 69, 68);
    transition: width 700ms ease;
    z-index: 2;
}

.form-field-wrapper.focused::after {
    width: 100%;
}

.form-field-wrapper:has(.file-icon),
.form-field-wrapper:has(.file-icon) > .form-field-inner > input,
.form-field-wrapper:has(.place-icon),
.form-field-wrapper:has(.place-icon) > .form-field-inner > input {
    cursor: pointer;
}

.form-field-inner {
    display: flex;
}

.form-field-input {
    width: 100%;
    padding: 5px;
    color: rgb(69, 69, 68);
    font-size: 18px;
}

.form-field-input[type='file'] {
    display: none;
}

.form-field-icon {
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
    fill: rgb(201, 201, 201);
    transition: fill 400ms ease;
}

.form-field-wrapper:hover > .form-field-inner > .form-field-icon,
.form-field-wrapper.focused > .form-field-inner > .form-field-icon {
    fill: rgb(55, 57, 63);
}

.button-submit {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgb(64, 67, 77);
    width: 100%;
    padding-block: 12px;
    border-radius: 10px;
    margin-top: 30px;
    transition: background-color 500ms;
}

.button-submit:hover {
    background-color: rgb(55, 57, 63);
}

.additional-buttons-container > * {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(64, 67, 77);
    border: 1px solid rgb(214, 214, 214);
    width: 100%;
    padding-block: 12px;
    border-radius: 10px;
    transition: background-color 500ms;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.additional-buttons-container > *:hover {
    background-color: rgb(242, 242, 242);
}

.form-field-errors-container {
    margin-bottom: 1.5rem;
}

.error {
    color: red;
    position: relative;
    animation: errorSlideDown 300ms ease;
    font-size: 13px;
}

.eye-switch-pw-type {
    height: 1.5rem;
    width: 2rem;
    align-self: center;
    fill: rgb(201, 201, 201);
    stroke: rgb(201, 201, 201);
    transition: fill 400ms, stroke 400ms;
    cursor: pointer;
    user-select: none;
}

.eye-switch-pw-type:hover {
    fill: rgb(55, 57, 63);
    stroke: rgb(55, 57, 63);
}

.eye-line {
    transition: d 500ms ease;
    pointer-events: none;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: stroke-dashoffset 400ms;
}

.eye-line[checked] {
    stroke-dashoffset: 0;
}


@keyframes errorSlideDown {
    0% {
        top: -10px;
        left: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        left: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 1350px) {
    #dots-nb {
        grid-column: 10;
    }
}

@media screen and (max-width: 950px) {
    #dots-nb {
        width: 80%;
        height: 80%;
        margin-left: 20%;
        grid-column: 11;
    }
    #pc-bc {
        width: 150%;
        height: 150%;
    }
}

@media screen and (max-width: 700px) {
    #dots-nb {
        grid-row: 1 / 4;
        grid-column: 6;
        transform: rotate(-70deg);
        margin-top: 3rem;
    }
    #pc-bc {
        display: none;
    }
    #lns-bb {
        grid-column: 1 / 4;
    }
}

@media screen and (max-width: 520px) {
    #dots-nb {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #crc-wd {
        grid-row: 10 / 14;
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 400px) {
    #form {
        width: 90%;
    }
    .form-title {
        font-size: 26px;
    }
    .form-field-input {
        font-size: 16px;
    }
    .button-submit {
        margin-top: 10px;
    }
    #dots-nb {
        grid-row: 2 / 4;
        grid-column: 7;
        margin-top: 1rem;
        margin-left: -0.5rem;
    }
    #crc-wd {
        height: 150%;
        grid-row: 9 / 13;
    }
}

@media screen and (max-width: 360px) {
    .form-field-wrapper {
        margin-top: 0.5rem;
    }
    .form-title {
        font-size: 22px;
    }
    .form-field-input {
        font-size: 14px;
    }
    #lns-bb {
        grid-row: 10 / 12;
        grid-column: 1 / 6;
        margin-left: -2rem;
    }
    #crc-wd {
        grid-row: 12 / 13;
    }
    #dots-nb {
        grid-column: 8 / 9;
        width: 115%;
        height: 115%;
    }
}
