#section-carousel {
    width: 100%;
    height: 100vh;
}

.carousel {
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.d-block {
    width: 100vw;
    height: 100vh;
    filter: brightness(85%);
    object-fit: cover;
}

.preview-upper {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.preview-text-flex-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

#preview-text {
    max-width: 25%;
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
    opacity: 0;
}

#preview-text_span {
    font-size: 70px;
    font-weight: bold;
    font-family: arial;
    color: white;
    text-shadow: 2px 2px 2px rgb(91, 133, 227);
    line-height: 95px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.previews-overview-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.previews-overview {
    display: flex;
    justify-content: space-evenly;
    margin-right: 5rem;
}

.preview-showcase {
    width: 9rem;
    height: 5rem;
    margin: 1rem;
    margin-top: 100%;
    border-radius: 15px;
    filter: brightness(40%);
    opacity: 0;
    border: 2px solid rgb(91, 133, 227, .85);
}

.preview-showcase:not(.active) {
    cursor: pointer;
}

.preview-title {
    color: white;
    font-size: 80px;
}

.sketch-tourism-info-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-block: 5rem;
}

.sketch-tourism-info-wrapper-dn {
    display: none;
}

.sketch-tourism-title {
    font-size: 48px;
    font-weight: bold;
}

.wrapper-definition {
    display: flex;
    justify-content: center;
}

.kite {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}

#kite1 {
    transform: rotate(70deg);
}

.container-steps {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
}

.container-bsteps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.wrapper-bsteps {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper-left-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.steps-ttl {
    display: none;
    font-size: 48px;
    font-weight: bold;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-step {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 3rem;
}

.step-bg {
    background-image: linear-gradient(-45deg, rgb(165, 111, 199), rgb(91, 32, 128));
    background-image: linear-gradient(-45deg, rgb(66, 95, 166), rgb(34, 63, 133));
    background-size: 400% 100%;
    animation: stepsGradient 10s ease infinite;
    height: 12rem;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-desc {
    font-size: 20px;
    font-weight: 500;
}

.step-icon {
    width: 50%;
    height: 50%;
}

.double-arrow-steps {
    height: 40px;
    width: 40px;
}

#section-star-sky-random-sketch {
    width: 100%;
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-sketch-bg {
    width: 100%;
    height: 100%;
    background-image: url('../img/stars-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#random-sketch-bg-defer {
    height: 296px;
}

#random-sketch-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
    top: -296px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#random-sketch-clickable {
    height: 60%;
    aspect-ratio: 1 / 1;
    transition: all 1000ms;
}

#random-sketch-wrapper:hover > #random-sketch-clickable {
    height: 80%;
    transform: rotate(360deg);
}

@keyframes stepsGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 1300px) {
    #preview-text_span {
        font-size: 60px;
        line-height: 65px;
    }
    .previews-overview {
        margin-right: 0;
    }
    .step-bg {
        height: 12rem;
    }
}

@media screen and (max-width: 1000px) {
    .step-bg {
        height: 9rem;
    }
    .step-desc {
        font-size: 17px;
    }
    .steps-ttl {
        font-size: 32px;
    }
}

@media screen and (max-width: 800px) {
    .container-step {
        margin-inline: 2rem;
    }
    .step-desc {
        font-size: 13px;
    }
    .step-bg {
        height: 6rem;
    }
    .double-arrow-steps {
        width: 20px;
        height: 20px;
    }
    .steps-ttl {
        font-size: 28px;
        margin-bottom: 0.5rem;
    }
    .container-steps {
        margin-top: 45px;
    }
}


@media screen and (max-width: 600px) {
    .preview-text-flex-wrapper {
        justify-content: center;
    }
    #preview-text_span {
        font-size: 60px;
        line-height: 65px;
    }
    #preview-text {
        max-width: 95%;
        margin-top: 35%;

    }
    #preview-additional {
        max-width: 100%;
    }
    .preview-showcase {
        width: 5rem;
    }
    .previews-overview-wrapper {
        justify-content: center;
    }
    .step-bg {
        height: 5rem;
        border-radius: 20px;
    }
    .double-arrow-steps {
        width: 15px;
        height: 15px;
    }
    .step-desc {
        font-size: 12px;
        font-weight: 550;
    }
    .steps-ttl {
        font-size: 23px;
    }
    #random-sketch-clickable {
        height: 45%;
    }
    #random-sketch-wrapper:hover > #random-sketch-clickable {
        height: 60%;
    }
    .sketch-tourism-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 470px) {
    .container-step {
        margin-inline: 1rem;
    }
    #preview-text_span {
        font-size: 50px;
    }
    .sketch-tourism-title {
        font-size: 28px;
    }
    .definition {
        font-size: 13px;
    }
}

@media screen and (max-width: 390px) {
    #preview-text_span {
        font-size: 30px;
        line-height: 45px;
    }
    .step-bg {
        height: 4rem;
    }
    .step-desc {
        font-size: 10px;
    }
}
