.form-field-input[type='file'] {
    color: rgba(69, 69, 68, 0.6);
    font-size: 18px;
    font-weight: 470;
}

.form-field-input[type='file']::file-selector-button {
    display: none;
}

.editor-image-container {
    position: relative;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#editor-image {
    min-width: 20vw;
    min-height: 55vh;
    max-width: 80vw;
    max-height: 70vh;
    filter: brightness(70%);
    background-color: white;
}

main:has(.editor) .bg-icon,
main:has(.editor) #form-container,
main:has(.editor) #btn-pop-up-close {
    display: none;
}

main:has(.editor) #background-container {
    filter: brightness(60%);
}
